div {
	padding: 5px;
	margin: 5px;
}

input {
	width: 120px;
}

#general {
	border : 1px solid black;
}

.step {
	border : 1px solid grey;
}

.ui-helper-hidden-accessible {
	display: none;	
}

.ui-menu-item {
	border: 1px solid red;
	border-color : #f00;
}

.mission {
	border: 1px solid grey;
}