div {
	padding: 5px;
	margin: 5px;
}

input {
	width: 120px;
}


#missionboard, #filteroptions, #shipconfiguration, #cargomanifest {
	border : 1px solid black;
	width : 40%;
	float: left;
	height: 35%; 
}

#instructionsboard {
	border : 1px solid black;
	float: none;
	clear: both;
}

.step {
	border : 1px solid grey;
}

.ui-helper-hidden-accessible {
	display: none;	
}

.ui-menu-item {
	border: 1px solid red;
	border-color : #f00;
}

.mission {
	border: 1px solid grey;
}